<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string></string>
		<key>subItems</key>
		<array>
			<dict>
				<key>title</key>
				<string>我的活动</string>
				<key>imageName</key>
				<string>活动</string>
				<key>accessoryType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>我的订单</string>
				<key>imageName</key>
				<string>cts_aboutMe_yijianfankuaiIcon</string>
				<key>accessoryType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>设备管理</string>
				<key>imageName</key>
				<string>cts_aboutMe_shebeiguanliIcon</string>
				<key>accessoryType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>推荐好友</string>
				<key>imageName</key>
				<string>cts_aboutMe_mengyouIcon</string>
				<key>accessoryType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>客服中心</string>
				<key>imageName</key>
				<string>xfx_kefu_icon</string>
				<key>accessoryType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>设置</string>
				<key>imageName</key>
				<string>cts_aboutMe_shezhiIcon</string>
				<key>accessoryType</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
